body {
    background-color: azure;
    height: 60vh;
}

#grid {
    border: purple 1px solid;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.facedown {
    border: red 2px solid;
    width: 20%;
    height: 20%;
    background-color: lemonchiffon;
}


.facedown.matchOne.matchOneFlip {
    border: red 2px solid;
    width: 35%;
    height: 35%;
    background-color: red;
}


.facedown.matchTwo.matchTwoFlip {
    border: red 2px solid;
    width: 35%;
    height: 35%;
    background-color: orange;
}

.facedown.matchTwo.matchThreeFlip {
    border: red 2px solid;
    width: 35%;
    height: 35%;
    background-color: yellow;
}

.facedown.matchTwo.matchFourFlip {
    border: red 2px solid;
    width: 35%;
    height: 35%;
    background-color: green;
}

.facedown.matchTwo.matchFiveFlip {
    border: red 2px solid;
    width: 35%;
    height: 35%;
    background-color: blue;
}

.facedown.matchTwo.matchSixFlip {
    border: red 2px solid;
    width: 35%;
    height: 35%;
    background-color: hotpink;
}

.facedown.matchTwo.matchSevenFlip {
    border: red 2px solid;
    width: 35%;
    height: 35%;
    background-color: purple;
}

.facedown.matchTwo.matchEightFlip {
    border: red 2px solid;
    width: 35%;
    height: 35%;
    background-color: lavender;
}