html {
    background-color: black;
}

body {
    height: 80vh;
    background-image: url(./assets/background-image-city.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Chakra Petch', sans-serif;
}

h1 {
    font-size: 8vw; 
    color: chartreuse;
    text-align: center;
}
/* ----------------- DIVS ----------------- */
#gameboard {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

#grid {
    border: 3px solid;
    border-image: url(./assets/border-image.jpeg)1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    margin: 0 auto;
    height: 100%;
    width: 60%;
}

#console {
    border: 3px solid;
    border-image: url(./assets/border-image.jpeg)1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 35%;
}
h2 {
    align-self: flex-start;
    text-align: center;
    width: 100%;
    height:35%;
    font-size: 3vw;
    color: chartreuse;
}
p {
    align-self: flex-start;
    text-align: center;
    width: 100%;
    height:35%;
    font-size: 5vw;
    color: chartreuse;
}
/* ---------------- BUTTONS ---------------------- */
#modeBtn {
    align-self: flex-end;
    justify-self: center;
    text-align: center;
    width: 100%;
    height: 30%;
    background-color: rgba(0,0,0,0);
    font-family: 'Chakra Petch', sans-serif;
    border: none;
    font-size: 4vw;
    text-decoration: underline;
    color:chartreuse;
}

#reset {
    align-self: flex-end;
    justify-self: center;
    text-align: center;
    width: 100%;
    height: 30%;
    background-color: rgba(0,0,0,0);
    border: none;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 4vw;
    text-decoration: underline;
    color:chartreuse;
}

/* ------------------CARDS------------------ */
.facedown {
    border: chartreuse 2px solid;
    width: 20%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.05);
}


.facedown.matchOne.matchOneFlip {
    border: 2px solid;
    border-image: url(./assets/border-image.jpeg)1;
    width: 20%;
    height: 20%;
    background-image: url(./assets/spiderman.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.facedown.matchTwo.matchTwoFlip {
   border: 2px solid;
    border-image: url(./assets/border-image.jpeg)1;
    width: 20%;
    height: 20%;
    background-image: url(./assets/superman.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.facedown.matchThree.matchThreeFlip {
   border: 2px solid;
    border-image: url(./assets/border-image.jpeg)1;
    width: 20%;
    height: 20%;
    background-image: url(./assets/batman.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.facedown.matchFour.matchFourFlip {
   border: 2px solid;
    border-image: url(./assets/border-image.jpeg)1;
    width: 20%;
    height: 20%;
    background-image: url(./assets/venom.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.facedown.matchFive.matchFiveFlip {
   border: 2px solid;
    border-image: url(./assets/border-image.jpeg)1;
    width: 20%;
    height: 20%;
    background-image: url(./assets/hulk.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.facedown.matchSix.matchSixFlip {
   border: 2px solid;
    border-image: url(./assets/border-image.jpeg)1;
    width: 20%;
    height: 20%;
    background-image: url(./assets/ironman.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.facedown.matchSeven.matchSevenFlip {
   border: 2px solid;
    border-image: url(./assets/border-image.jpeg)1;
    width: 20%;
    height: 20%;
    background-image: url(./assets/wolverine.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.facedown.matchEight.matchEightFlip {
   border: 2px solid;
    border-image: url(./assets/border-image.jpeg)1;
    width: 20%;
    height: 20%;
    background-image: url(./assets/blackpanther.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/* --------------------- MODAL --------------------- */
#modal {
	background-color: rgba(0,0,0,.15);
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%,-50%);
	z-index: 1;
    height: 60%;
    width: 80%;
    display: none;
}

#modal-textbox {
	background-color: rgba(0, 0, 0, 0.911);
    position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%,-50%);
    height: 70%;
	width: 70%;
    display: flex;
    text-align: center;
    font-size: 3vw;
}
#modal-textbox h1 {
    height: 20%;
    width: 100%;
    font-size: 3rem;
    align-self: flex-start;
    justify-content: center;
}

#modal-textbox p {
    height: 10%;
    width: 100%;
    align-self: center;
    font-size: 2rem;
    text-align: center;
}

#modal-textbox li {
    list-style: none;
    align-self: flex-end;
    height: 20%;
    width: 100%;
}
#close {
    color: chartreuse;
}

/* ----------------------- MOBILE ----------------------- */
@media (max-width: 500px) {
body {
    font-family: 'Chakra Petch', sans-serif;
}
#gameboard {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
#grid {

    border: 3px solid;
    border-image: url(./assets/border-image.jpeg)1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    margin: 0 auto;
    height: 85%;
    width: 100%;
}

#console {
    border: 3px solid;
    margin: 0 auto;
    padding: 0px;
    border-image: url(./assets/border-image.jpeg)1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    height: 20%;
    width: 100%;
}

h2 {
    width: 45%;
    height:80%;
    font-size: .9rem;
    color: chartreuse;
}
p {
    width: 30%;
    height:80%;
    font-size: 1rem;
    color: chartreuse;
}
#buttonDiv {
    height: 80%;
    width: 10%;
}
#modeBtn {
    width: 100%;
    height: 50%;
    background-color: rgba(0,0,0, 0);
    border: none;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1rem;
    color:chartreuse
}
#reset {
    width: 100%;
    height: 50%;
    background-color: rgba(38, 255, 30, 0);
    border: none;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1rem;
    color:chartreuse
}
#modal-textbox {
	background-color: rgba(0, 0, 0, 0.911);
    position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%,-50%);
    height: 70%;
	width: 70%;
    display: flex;
    text-align: center;
    font-size: 3vw;
}

#modal-textbox h1 {
    font-size: 2rem;
    text-align: center;
    justify-content: center;
}

#modal-textbox ul {
    font-size: 1rem;
}
#modal-textbox li {
    list-style: none;
    width: 100%;
    text-align: center;
}
#modal-textbox p {
    width: 100%;
    font-size: 3vw;
    text-align: center;
    font-size: 1rem;
}
}