body {
    background-color: azure;
    height: 60vh;
    background-image: url(./assets/Colorful-Watercolor-Background-Graphics-8158369-1.jpeg);
    font-family: 'Sacramento', cursive;
}

h1 {
    font-size: 65px;
    text-align: center;
}

h2 {
    text-align: center;
}

button {
    font-size: 40px;
    font-family: 'Sacramento', cursive;
    text-align: center;
    display: inline;
    border: none;
    background-color: rgba(0, 0, 0, 0);


}
#grid {
    margin: 0 auto;
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.facedown {
    border: red 2px solid;
    width: 20%;
    height: 20%;
    background-color: lemonchiffon;
}


.facedown.matchOne.matchOneFlip {
    border: red 2px solid;
    width: 20%;
    height: 20%;
    background-image: url(./assets/besties-emoji.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.facedown.matchTwo.matchTwoFlip {
    border: red 2px solid;
    width: 20%;
    height: 20%;
    background-image: url(./assets/airplane-emoji.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.facedown.matchThree.matchThreeFlip {
    border: red 2px solid;
    width: 20%;
    height: 20%;
    background-image: url(./assets/coffee-emoji.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.facedown.matchFour.matchFourFlip {
    border: red 2px solid;
    width: 20%;
    height: 20%;
    background-image: url(./assets/taco-emoji.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.facedown.matchFive.matchFiveFlip {
    border: red 2px solid;
    width: 20%;
    height: 20%;
    background-image: url(./assets/fish-emoji.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.facedown.matchSix.matchSixFlip {
    border: red 2px solid;
    width: 20%;
    height: 20%;
    background-image: url(./assets/money-emoji.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.facedown.matchSeven.matchSevenFlip {
    border: red 2px solid;
    width: 20%;
    height: 20%;
    background-image: url(./assets/music-emoji.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.facedown.matchEight.matchEightFlip {
    border: red 2px solid;
    width: 20%;
    height: 20%;
    background-image: url(./assets/sweat-emoji.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
    display: none;
}

#modal-textbox {
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}