body {
    background-color: azure;
    height: 80vh;
    background-image: url(./assets/Colorful-Watercolor-Background-Graphics-8158369-1.jpeg);
    font-family: 'Sacramento', cursive;
}

h1 {
    /* https://stackoverflow.com/questions/14431411/pure-css-to-make-font-size-responsive-based-on-dynamic-amount-of-characters */
    font-size: 8vw; 
    color: rgb(19, 129, 118);
    text-align: center;
}

#console {
    border: 3px solid;
    border-image: url(./assets/border-image.jpeg)1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    height: 100%;
    width: 35%;
}
h2 {
    font-size: 3vw;
    color: rgb(19, 129, 118);
    align-self: flex-start;
    text-align: center;
    width: 100%;
    height:70%;
}

button {
    align-self: flex-end;
    justify-self: center;
    text-align: center;
    width: 100%;
    height: 30%;
    background-color: rgba(0,0,0,0);
    border: none;
    font-family: 'Sacramento', cursive;
    font-size: 5vw;
}
#gameboard {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: flex;
}

#grid {
    border: 3px solid;
    padding: 5em, 5em, 5em, 5em;
    border-image: url(./assets/border-image.jpeg)1;
    margin: 0 auto;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}
.facedown {
    border: lavenderblush 2px solid;
    width: 20%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.05);
}


.facedown.matchOne.matchOneFlip {
    border: red 2px solid;
    width: 20%;
    height: 20%;
    background-image: url(./assets/besties-emoji.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.facedown.matchTwo.matchTwoFlip {
    border: red 2px solid;
    width: 20%;
    height: 20%;
    background-image: url(./assets/airplane-emoji.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.facedown.matchThree.matchThreeFlip {
    border: red 2px solid;
    width: 20%;
    height: 20%;
    background-image: url(./assets/coffee-emoji.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.facedown.matchFour.matchFourFlip {
    border: red 2px solid;
    width: 20%;
    height: 20%;
    background-image: url(./assets/taco-emoji.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.facedown.matchFive.matchFiveFlip {
    border: red 2px solid;
    width: 20%;
    height: 20%;
    background-image: url(./assets/fish-emoji.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.facedown.matchSix.matchSixFlip {
    border: red 2px solid;
    width: 20%;
    height: 20%;
    background-image: url(./assets/money-emoji.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.facedown.matchSeven.matchSevenFlip {
    border: red 2px solid;
    width: 20%;
    height: 20%;
    background-image: url(./assets/music-emoji.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.facedown.matchEight.matchEightFlip {
    border: red 2px solid;
    width: 20%;
    height: 20%;
    background-image: url(./assets/sweat-emoji.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
    display: none;
}

#modal-textbox {
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}